.example-card {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.profile-image-container {
  margin-bottom: 20px;
}

.profile-info {
  text-align: center;
}

.img-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 5px 0;
  font-weight: bold;
}

.not-bold {
  font-weight: normal;
}

.mat-card-actions {
  margin-top: 10px;
}

.mat-card-actions button {
  margin-right: 10px;
}
